.carousel .carousel-item {
    height: 500px;
  }
  #display-person{
      padding: 50px;
  }

#display-person img{
    border-radius: 50%;
    padding:0px;
}

input {
    padding:5px 15px; border:2px black solid;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#filter-settings {
    border:2px gray solid;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 1em;
}


/* * {
    border: 1px solid black;
} */