.global-icon {
    width: 12px;
    height: 12px;
    background-position: -28px -499px;
    background-image: url("https://weichiachang.github.io/easter-eggs-mobile/images/3o8Zo7X.png");
    background-size: 73px 540px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 4px;
  }
