.carousel .carousel-item {
    height: 500px;
  }
  
#displayCard{
    padding: 50px;
  }

#displayCard img{
    border-radius: 50%;
    padding:0px;
}
#displayList img{
    border-radius: 50%;
    padding:0px;
    width: 150px;
    height: 150px;
}
.favorite-img {
    border:4px #FE5B5B solid;
}
input {
    padding:5px 15px; border:2px black solid;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#filter-settings {
    border:2px gray solid;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 1em;
}
#displayCard:hover img {
    transform: scale(1.2) translate(0, -10%);
    filter: brightness(90%) ;
}
#displayCard:hover h5{
    color: black;
    transform: scale(1.2) translate(0, -10%);
    filter: brightness(100%) ;
}
#displayCard:hover span{
    filter: brightness(20%) ;
}
#displayCard img {
    transition: transform 0.5s ease;
}
#displayCard h5 {
    transition: transform 0.5s ease;
}

#person-info img {
    width: 400px;
}
#list-mode img{
    max-width: 150px;
}

/* * {
    border: 1px solid black;
} */